:root {
    --bg-color: rgb(241, 170, 146);
    --text-padding: 5%;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
}

.flex {
    display: flex;
}

.hidden-mobile {
    display: none;
}

.decoration-none {
    text-decoration: none;
    color: black;
}

.header {
    position: fixed;
    top: 0px;
    z-index: 50;
}

.nav-white {
    background-color: white;
}

.nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 6rem;
}

.nav-div1 {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

.nav-flex1 {
    justify-content: space-between;
}

.space-between {
    justify-content: space-between;
}

.logo {
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 10px;
}

.pc-nav {
    align-items: center;
}

.pc-nav-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

}

.burger {
    width: 50px;
    height: 40px;
    margin-right: 15px;
    background-color: white;
}

.logo {
    flex-direction: column;
    text-transform: uppercase;
    align-items: flex-start;
}

.logo p {
    margin: 0px;
    text-align: left;
}

.logo .small {
    font-size: 1rem;
}

section {
    margin-top: 4rem;
}

.section-info {
    background-color: var(--bg-color);
}

.container {
    height: 80vh;
}

.newsbox-content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-left: var(--text-padding);
    padding-right: var(--text-padding);
}

.newsbox-content h1 {
    font-weight: 900;
    font-size: 3.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.newsbox-content button {
    width: 130px;
    height: 50px;
    margin-top: 10%;
    border-radius: 25px;
    border: 2px black solid;
    background-color: var(--bg-color);
    font-size: 1rem;
}

.newsbox-content button:hover {
    color: white;
    background-color: black;
    transition: 0.5s;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    display: none;
}

.bg {
    height: calc(80vh - 2rem);
    width: 100%;
    position: absolute;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c486.79C121.392%2c499.354%2c238.195%2c590.461%2c353.172%2c549.546C471.651%2c507.385%2c550.133%2c389.432%2c599.098%2c273.599C647.322%2c159.52%2c646.66%2c32.016%2c623.363%2c-89.626C600.815%2c-207.359%2c561.923%2c-330.703%2c468.886%2c-406.292C380.151%2c-478.385%2c253.78%2c-460.71%2c141.314%2c-481.27C42.081%2c-499.411%2c-52.079%2c-527.634%2c-152.662%2c-519.92C-273.783%2c-510.631%2c-422.871%2c-527.034%2c-498.763%2c-432.181C-575.076%2c-336.802%2c-490.764%2c-193.954%2c-509.982%2c-73.324C-529.647%2c50.111%2c-654.738%2c162.047%2c-612.156%2c279.562C-569.98%2c395.956%2c-426.383%2c441.304%2c-309.12%2c481C-209.486%2c514.728%2c-104.629%2c475.961%2c0%2c486.79' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 1107.3899999999999C1545.11 1092.842 1644.46 1071.554 1742.188 1030.214 1858.189 981.144 2020.0059999999999 962.8299999999999 2062.252 844.173 2105.325 723.193 1964.479 613.814 1934.937 488.839 1909.123 379.634 1955.867 258.516 1900.711 160.79199999999997 1841.016 55.02600000000001 1742.047-39.03099999999995 1623.116-63.63499999999999 1506.04-87.856 1393.389-17.813999999999965 1285.405 33.49800000000005 1191.904 77.928 1120.1390000000001 147.853 1040.04 213.43200000000002 941.681 293.96 770.326 335.63300000000004 761.482 462.444 752.426 592.301 945.482 642.763 1001.9159999999999 760.066 1056.496 873.517 980.152 1043.816 1078.805 1122.031 1175.179 1198.4389999999999 1318.173 1124.252 1440 1107.3899999999999' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-color: #E0BEA3;
    z-index: -1;
    justify-content: center;
    align-items: center;
    top: 0;
    /* background-position: center; */
}

.img-div {
    width: 600px;
    height: 400px;
    border: 2px solid black;
}

.text-padding {
    padding-bottom: var(--text-padding);
    padding-left: var(--text-padding);
    padding-right: var(--text-padding);
}

.half-boxes {
    flex-direction: column;
}

.half-box {
    padding-top: var(--text-padding);
    padding-bottom: var(--text-padding);
    justify-content: center;
}

.half-box p {
    margin: 0;
}

.hand-empty {
    width: 30%;
}

.hand-box {
    width: 70%;
    justify-content: center;
    align-items: center;
}

.hidden-des {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 800px) {
    .nav-flex1 {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }

    section {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }

    .hidden-mobile {
        display: flex;
    }

    .hidden-des {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .half-boxes {
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .half-box {
        width: 50%;
        justify-content: center;
        align-items: center;
    }

}