body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.flex {
    display: flex;
}

.hidden-mobile {
    display: none;
}

.decoration-none {
    text-decoration: none;
    color: black;
}

.header {
    position: fixed;
    top: 0px;
    z-index: 50;
}

.nav {
    position: fixed;
    width: 100%;
    top: 0;
    height: 4rem;
}

.nav-div1 {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;

}

.nav-flex1 {
    justify-content: space-between;
}

.space-between {
    justify-content: space-between;
}

.logo {
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.pc-nav {
    align-items: center;
}

.pc-nav-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

}

.burger {
    width: 50px;
    height: 40px;
    margin-right: 15px;
    background-color: white;
}

.section-info {
    font-weight: 300;
}

section {
    margin-top: 4rem;
}

.container {
    display: flex;
    justify-content: space-between;
}

.box {
    border: 2px solid lightcoral;
    padding: 5px;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    display: none;
}

.bg {
    height: 100%;
    width: 100%;
    background-image: url('arth.jpg');
    background-repeat: no-repeat;
    clip-path: polygon(45% 0, 100% 41%, 100% 100%, 0 99%, 0 0);
    background-size: cover;
    position: absolute;
    z-index: -1;
    /* background-position: center; */

}

@media screen and (min-width: 630px) {
    .nav-flex1 {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }

    section {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }

    .hidden-mobile {
        display: flex;
    }

    .hidden-des {
        display: none;
    }

    .mobile-menu {
        display: none;
    }
}